<div class="row">
    <div class="col-xs-12 col-md-8">
        <div class="row"
             ng-repeat="q in questions">{{q.question}}
        </div>
    </div>
    <div class="col-xs-12 col-md-4">
        <form role="form"
              ng-submit="onSubmit()">
            <div class="form-group">
                <label for="question">Question</label>
                <input type="text"
                       class="form-control"
                       id="question"
                       placeholder="Enter Question"
                       ng-model="question"/>
            </div>
            <button type="submit"
                    class="btn btn-default">Submit
            </button>
        </form>
    </div>
</div>
