<div class="row">
    <div class="col-xs-12 col-md-8">
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>
                    Question
                </th>
                <th>X</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="(id, q) in questions"
                ng-click="q.active = !q.active">
                <td>
                    <div ng-bind="q.question"></div>
                    <table class="table"
                           ng-if="q.active">
                        <tr ng-repeat="option in q.options">
                            <td ng-bind="option"></td>
                        </tr>
                    </table>
                </td>
                <td>
                    <a class="btn btn-danger" ng-click="onDelete($event, id)">X</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-xs-12 col-md-4">
        <form role="form"
              ng-submit="onSubmit()">
            <div class="form-group">
                <label for="question">Question</label>
                <input type="text"
                       class="form-control"
                       id="question"
                       placeholder="Enter Question"
                       ng-model="question"/>
            </div>
            <button type="submit"
                    class="btn btn-default">Submit
            </button>
        </form>
    </div>
</div>
